* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.footer {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  top: calc(100vh - 180px);
  font-size: 0.75em;
}
.footer__credits {
  color: black;
  text-decoration: underline;
}

@media (min-width: 600px) {
  .footer {
    position: static;
    text-align: left;
    align-self: end;
  }
  .footer__credits {
    font-size: 0.9em;
  }
}
@media (min-width: 960px) {
  .footer {
    position: absolute;
    top: calc(100vh - 109px);
  }
}
.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  top: calc(100vh - 100px);
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.header__name {
  text-transform: uppercase;
  transform: scaleY(1.2);
  font-size: 1.75em;
  line-height: 1em;
  width: 200px;
}

@media (min-width: 600px) {
  .header {
    display: block;
    position: static;
    margin-bottom: 10px;
  }
  .header__name {
    font-size: 2.4em;
    width: 100%;
  }
}
.home {
  background-image: url("../images/photo.jpg");
  background-size: cover;
  background-position: top;
  background-clip: content-box;
  background-repeat: no-repeat;
  padding: 20px;
  height: calc(100vh - 85px);
}
.home__poem {
  position: absolute;
  top: 1.5%;
  left: 98vw;
  width: 280px;
  font-family: Oswald, sans-serif;
  font-size: 0.7em;
  font-style: italic;
  transform: rotate(90deg);
  transform-origin: top left;
  color: #ff6699;
}
.home__writing {
  position: absolute;
  top: 6%;
  left: 20px;
  transform: scale(0.95) rotate(-20deg);
}

@media (min-width: 600px) {
  .home {
    height: 100vh;
    background-position-y: 30%;
    padding: 30px;
  }
  .home__poem {
    position: static;
    font-size: 0.8em;
    transform: rotate(0deg);
  }
  .home__writing {
    transform: rotate(0deg) scale(1);
    width: 19%;
    top: 60%;
    left: 56px;
  }
}
@media (min-width: 960px) {
  .home {
    background-size: auto 100%;
  }
  .home__writing {
    width: 165px;
    top: 32%;
    left: calc(50vw - 370px);
  }
}
@media (min-width: 1440px) {
  .home__writing {
    width: 175px;
    top: 40%;
    left: calc(50vw - 418px);
  }
}
@media (min-width: 1920px) {
  .home__writing {
    left: calc(50vw - 445px);
  }
}
@media (min-height: 1080px) {
  .home__writing {
    left: calc(50vw - 475px);
  }
}
.nav {
  align-self: flex-end;
}
.nav__content {
  position: fixed;
  top: 100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  transition: top 0.75s;
  z-index: 1;
}
.nav__list {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.nav__title, .nav__portrait, .nav__landscape, .nav__fashion, .nav__contact {
  margin: 30px 0;
}
.nav__title {
  color: #ff6699;
  display: none;
}
.nav__link {
  color: black;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
}
.nav__btn {
  color: #ff6699;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  z-index: 2;
  top: 8px;
}

#nav__input {
  display: none;
}
#nav__input:checked ~ .nav__content {
  top: 0px;
}

@media (min-width: 600px) {
  .nav__btn {
    display: none;
  }
  .nav__content {
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    top: 30px;
    left: 30px;
    transition: none;
    background: none;
  }
  .nav__list {
    position: static;
    text-align: left;
    align-self: end;
    transform: translate(0, 0);
  }
  .nav__title, .nav__portrait, .nav__landscape, .nav__fashion, .nav__contact {
    margin: 0;
    transform: scaleY(1.3);
  }
  .nav__title {
    display: initial;
    font-size: 1.5em;
    font-style: italic;
  }
  .nav__link {
    font-size: 2.2em;
  }
  .nav__link:hover {
    text-decoration: line-through;
    text-decoration-color: rgba(255, 102, 153, 0.5);
    text-decoration-thickness: 8px;
  }
  .nav__contact {
    margin-bottom: -2px;
  }

  #nav__input:checked ~ .nav__content {
    top: 30px;
  }
}
@media (min-width: 600px) and (min-width: 960px) {
  .nav__content {
    display: block;
  }
  .nav__list {
    position: absolute;
    left: calc(50vw + 280px);
    top: calc(100vh - 300px);
  }
}
@media (min-width: 600px) and (min-width: 1440px) {
  .nav__list {
    left: calc(50vw + 320px);
  }
}
@media (min-width: 600px) and (min-width: 1920px) {
  .nav__list {
    left: calc(50vw + 350px);
  }
}
@media (min-width: 600px) and (min-height: 1080px) {
  .nav__list {
    left: calc(50vw + 380px);
  }
}

/*# sourceMappingURL=main.css.map */
