* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background: #101010;
}

.architecture,
.landscape,
.portrait,
.animals {
  padding: 20px;
}

.loader {
  position: absolute;
  background: #101010;
  width: 100vw;
  height: 100vh;
  z-index: 99;
}
.loader__grid {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
}
.loader__cell-1, .loader__cell-2, .loader__cell-3, .loader__cell-4, .loader__cell-5, .loader__cell-6, .loader__cell-7, .loader__cell-8, .loader__cell-9 {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #1a74e2;
  animation: loader__grid 1.2s linear infinite;
}
.loader__cell-1 {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.loader__cell-2 {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.loader__cell-3 {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.loader__cell-4 {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.loader__cell-5 {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.loader__cell-6 {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.loader__cell-7 {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.loader__cell-8 {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.loader__cell-9 {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes loader__grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.footer {
  font-family: Oswald, sans-serif;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  top: calc(100vh - 90px);
  padding-top: 20px;
  color: #fff;
  left: 20px;
  font-size: 0.75em;
}
.footer__link {
  color: "v.$font-color";
  text-decoration: underline;
}
.footer__link, .footer__link:visited, .footer__link:hover, .footer__link:active {
  color: inherit;
}

@media (min-width: 960px) {
  .footer {
    display: block;
    position: absolute;
    top: 89vh;
    left: calc(100vw - 247px);
    text-align: left;
    background: rgba(16, 16, 16, 0.5);
    padding: 20px;
    width: 300px;
  }
}
.header {
  margin-top: 34px;
  margin-bottom: 20px;
  padding-top: 18px;
}
.header__works {
  font-size: 12px;
  display: block;
  margin: 0 auto;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Homemade Apple", sans-serif;
  color: #6bd0ff;
}
.header__title {
  font-family: Oswald, sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: center;
  transform: scaleY(1.3);
  margin-bottom: 10px;
  color: #fff;
}
.header__text {
  font-family: Oswald, sans-serif;
  font-size: 0.75em;
  font-style: italic;
  color: #1a74e2;
  width: max-content;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .header {
    margin-top: 40px;
    margin-bottom: 45px;
  }
  .header__works {
    font-size: 24px;
    margin-bottom: -10px;
  }
  .header__title {
    font-size: 4em;
    margin-bottom: 20px;
  }
  .header__text {
    font-size: 0.9em;
  }
}
.grid {
  display: block;
  columns: 1;
}
.grid__image {
  margin-bottom: 20px;
  width: 100%;
}

@media (min-width: 600px) {
  .grid {
    columns: 2;
  }
}
.nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  background: #101010;
  z-index: 10;
}
.nav__home, .nav__home:visited, .nav__home:hover, .nav__home:active {
  color: inherit;
}
.nav__heading, .nav__btn {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  transform: scaleY(1.3);
}
.nav__heading {
  font-size: 1em;
  color: #fff;
}
.nav__btn {
  font-size: 1.1em;
  font-weight: 700;
  color: #1a74e2;
  position: relative;
  top: -1.5px;
  z-index: 10;
}
.nav__content {
  position: fixed;
  top: -100vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(16, 16, 16, 0.9);
  transition: top 0.75s;
  z-index: 1;
}
.nav__list {
  font-family: Oswald, sans-serif;
  position: absolute;
  top: calc(50% - 30px);
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.nav__title, .nav__item {
  margin: 30px 0;
}
.nav__link {
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
}
.nav:after {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 50px;
  left: 50%;
  width: calc(100% - 40px);
  height: 1px;
  transform: translate(-50%, -50%);
}

#nav__input {
  display: none;
}
#nav__input:checked ~ .nav__content {
  top: 0px;
}

@media (min-width: 960px) {
  .nav__btn {
    display: none;
  }
  .nav__content {
    position: initial;
    background: none;
    transition: none;
    height: 26px;
    width: 400px;
  }
  .nav__list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: initial;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  .nav__main, .nav__title, .nav__item {
    text-align: right;
    margin: 0;
  }
  .nav__link {
    font-size: 0.75em;
    font-weight: 300;
  }
  .nav__link:hover {
    text-decoration: underline;
    text-decoration-color: #1a74e2;
    text-decoration-thickness: 3px;
  }
}

/*# sourceMappingURL=page.css.map */
