// $background: #fff
// $font-color: #000
// $font-stack: Oswald, sans-serif
// $accent: #f69
// $info-color: #fff
// $info-bg: #000
// $writing-color: #000

$background: #937266
$font-color: #302D33
$font-stack: Oswald, sans-serif
$accent: #d7c3ad
$info-bg: #000
$writing-color: #e8ecea
