@use 'defaults'
@use 'loader'
@use 'pages/_pages-footer'
@use 'pages/_pages-header'
@use 'pages/_pages-info'
@use 'pages/_pages-nav'
@use '../sass/_variables' as v

*
    overflow: hidden

.nav
    background: v.$info-bg
    color: v.$info-color

    &__heading
        color: v.$info-color

    &::after
        background-color: rgba(v.$font-color, 0.1)

    &__content
        background-color: rgba(v.$info-bg, 0.9)

    &__link
        color: v.$info-color

.footer__link
    color: v.$info-color
