@use '../_variables' as v

.footer
    text-align: left
    text-transform: uppercase
    position: relative
    top: calc(100vh - 90px)
    background: v.$background
    padding-top: 20px
    left: 20px
    font-size: 0.75em

    &__content
        color: v.$font-color

    &__link
        color: v.$font-color
        text-decoration: underline

    &__link,
    &__link:visited,
    &__link:hover,
    &__link:active
        color: inherit

@media (min-width: 600px)
    .footer
        position: static
        text-align: left
        align-self: end
        background: none

        &__credits
            font-size: 0.9em

@media (min-width: 960px)
    .footer
        position: absolute
        top: calc(100vh - 130px)
        left: 0
