@use '../_variables' as v

.header
    margin-top: 34px
    margin-bottom: 20px
    padding-top: 18px

    &__works
        font-size: 12px
        display: block
        margin: 0 auto
        margin-bottom: 0px
        text-align: center
        font-family: v.$writing-font
        color: v.$writing-color

    &__title
        font-family: v.$font-stack
        font-size: 2.5em
        text-transform: uppercase
        text-align: center
        transform: scaleY(1.3)
        margin-bottom: 10px
        color: v.$font-color

    &__text
        font-family: v.$font-stack
        font-size: 0.55em
        font-style: italic
        color: v.$accent
        width: 290px
        text-align: center
        margin: 0 auto

@media (min-width: 600px)
    .header
        margin-top: 40px
        margin-bottom: 45px

        &__works
            font-size: 24px
            margin-bottom: -10px

        &__title
            font-size: 4em
            margin-bottom: 20px

        &__text
            font-size: 0.75em
            width: 370px
