.footer
    font-family: "Oswald", sans-serif
    text-align: center
    text-transform: uppercase
    position: relative
    top: calc(100vh - 115px)
    font-size: 0.75em

    &__link
        color: black
        text-decoration: underline

@media (min-width: 960px)
    .footer
        display: block
        position: absolute
        top: 89vh
        left: calc(100vw - 227px)
        text-align: left
        background: rgba(255, 255, 255, 0.5)
        padding: 20px
