* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

img {
    width: 100%;
}

.nav__home,
.nav__home:visited,
.nav__home:hover,
.nav__home:active {
    color: inherit;
}

.nav {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background: white;
    z-index: 10;
}

.nav::after {
    content: "";
    background: rgba(0,0,0, 0.1);
    position: absolute;
    top: 50px;
    left: 50%;
    width: calc(100% - 40px);
    height: 1px;
    transform: translate(-50%, -50%);
}

.nav__heading, .nav__btn {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    transform: scaleY(1.3);
}

.nav__heading {
    font-size: 1em;
}

.nav__btn {
    font-size: 1.1em;
    font-weight: 700;
    color: #ff6699;
    position: relative;
    top: -1.5px;
    z-index: 10;
}

.nav__content {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.9);
    transition: top 0.75s;
    z-index: 1;
}

#nav__input:checked ~ .nav__content {
    top: 0px;
}

.nav__list {
    font-family: "Oswald", sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
}

.nav__title,
.nav__portrait,
.nav__fashion,
.nav__landscape,
.nav__contact {
    margin: 30px 0;
}

.nav__link {
    color: black;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
}

#nav__input {
    display: none;
}

.footer {
    font-family: "Oswald", sans-serif;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    top: calc(100vh - 115px);
    font-size: 0.75em;
}

.footer__link {
    color: black;
    text-decoration: underline;
}

.header {
    margin-top: 34px;
    margin-bottom: 20px;
    padding-top: 18px;
}

.header__cursive {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 30px;
}

.header__title {
    font-family: "Oswald", sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    text-align: center;
    transform: scaleY(1.3);
    margin-bottom: 10px;
}

.header__text {
    font-family: "Oswald", sans-serif;
    font-size: 0.55em;
    font-style: italic;
    color: #f69;
    width: 290px;
    text-align: center;
    margin: 0 auto;
}

.grid {
    display: block;
    columns: 1;
}

.grid > * {
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .header {
        margin-top: 40px;
        margin-bottom: 45px;
    }

    .header__cursive {
        width: 55px;
        margin-bottom: 5px;
    }

    .header__title {
        font-size: 4em;
        margin-bottom: 20px;
    }

    .header__text {
        font-size: 0.75em;
        width: 350px;
    }

    .grid {
        columns: 2;
    }
}

@media (min-width: 960px) {
    .nav__btn {
        display: none;
    }

    .nav__content {
        position: initial;
        background: none;
        transition: none;
        height: 26px;
        width: 250px;
    }

    .nav__list {
        height: 100%;
        display: flex;
        justify-content: space-between;
        position: initial;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

    .nav__title,
    .nav__portrait,
    .nav__fashion,
    .nav__landscape,
    .nav__contact {
        text-align: right;
        margin: 0;
    }

    .nav__link {
        font-size: 0.75em;
        font-weight: 300;
    }

    .nav__link:hover {
        text-decoration: underline;
        text-decoration-color: #ff6699;
        text-decoration-thickness: 3px;
    }

    #nav__input:checked ~ .nav__content {
        top: 0;
    }

    .footer {
        display: block;
        position: absolute;
        top: 89vh;
        left: calc(100vw - 227px);
        text-align: left;
        background: rgba(255, 255, 255, 0.5);
        padding: 20px;
    }
}